# frozen_string_literal: true

CONFIG = {
  inwx_api: 'api.domrobot.com',
  inwx_user: 'your_username',
  inwx_pass: 'your_password',
  jobs: [
    {
      records: [
        { name: 'www.example.org', type: 'AAAA' }
      ],
      detector: {
        type: 'ifconfig',
        version: 6,
        network_interface: 'en0'
      }
    }
  ],
  debug: false
}.freeze
